.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.grid-5 { display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.grid-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
}

.grid-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
}

.grid-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 1rem;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.grid-13 {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 1rem;
}

.grid-14 {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 1rem;
}

.grid-15 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 1rem;
}

.grid-16 {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1rem;
}

.grid-17 {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    gap: 1rem;
}

.grid-18 {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 1rem;
}

.grid-19 {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    gap: 1rem;
}

.grid-20 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1rem;
}